.Map{
	width: 70%;
	height: 480px;
	margin: auto;
}

.MainWrapper{
	max-width: 1366px;
	margin: auto;
}

// Used for undersections (product under categories).
.UnderSection{
	list-style: none;
	cursor: pointer;

	li{
		background-color: lightgrey;
	}

	li:hover{
		background-color: darkgray;
	}
}

// For the product template make sure that the list items are aligned to left.
.ProductDescription{
	text-align: left;
	list-style: square;
}