.Map{
	width: 70%;
	height: 480px;
	margin: auto;
}

.MainWrapper{
	max-width: 1366px;
	margin: auto;
}

/*
 * #ProductTemplate
 */

// For the product template make sure that the list items are aligned to left.
.ProductDescription{
	text-align: left;
	list-style: square;
}

.LightGreenWhiteText{
	color: white !important;
}

/*
 * #ProductCategoriesTemplate
 */

.CategoryButton{
	color: white !important;
	padding: 1em;
	font-size: 1em;
}