#NavDemo{
	margin-top:51px;
}

#MainWrapper{
	max-width: 1366px;
	margin: 1rem auto;
}

// For the product template make sure that the list items are aligned to left.
.ProductDescription{
	text-align: left;
	list-style: square;
}

// This is the heading of a product.
.LightGreenWhiteText{
	color: white !important;
}

/*
 * #ProductCategoriesTemplate
 */

.CategoryButton{
	color: white !important;
	padding: 1em;
	font-size: 1em;
}