#MainWrapper{
  /*
     * To make sure that the content of an undersection
     * has a bit of space on the right and on the top,
     * in order to accomplish the same effect as w3-panel
     * does for the products side bar buttons.
     */

  .UndersectionContent{
    margin-right: 16px;
    margin-top: 16px;
  }
}

@media only screen and (max-width: 600px) {
  #MainWrapper{

    /*
     * On mobile, make sure to clean the margin from the right and top.
     */

    .UndersectionContent{
      margin-right: 0;
      margin-top: 0;
    }
  }
}